*{
    background-color: #FDE59A;
}

.topic {
   font-family: 'Roboto', sans-serif;
    color: #1c1a22;
    font-size: 90px;
    text-align: center;      
}


.buttons {
    text-align: center;   
}

.btn {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    padding: 10px 50px;
    margin: 20px;
    border-radius: 20px;
    background-color: #3E3D53;
    border:4px solid #DDDBE6; 
    outline: none;    
}

.space {
    text-align: center;
}

canvas {
    border: 10px solid #150a1f; 
    
}
